version = 0.26.0
profile = default
margin = 80
parse-docstrings = true
break-infix = fit-or-vertical
indicate-nested-or-patterns = space
doc-comments = before
field-space = loose
module-item-spacing = compact
break-cases = fit
break-sequences = true
